/* src/Carousel.css */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* .carousel-item {
    min-width: 33.33%;
    box-sizing: border-box;
} */

/* .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
} */
/* 
.carousel-control.prev {
    left: 10px;
    background: gray;
    padding: 10px;
}

.carousel-control.next {
    right: 10px;

    background: gray;
    padding: 10px;
} */


/* src/App.css */
/* .App {
    font-family: sans-serif;
    text-align: center;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: white;
    font-size: 2em;
} */